<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BGC_HRS.Properties.Settings.bgcDatasource" connectionString="server=localhost;user id=root;password=qwer1234;database=bgc;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="BGC_HRS.Properties.Settings.bgcConnectionString" connectionString="server=localhost;user id=root;password=qwer1234;database=bgc"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>